<ion-view view-title="My Issues">

<ion-content>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input ng-model="searchText" placeholder="Search">
  </label>
</div>
 <ion-list>
	<div class="list">
	    <a class="item item-thumbnail-left" ng-href="#/menu/issueDetails/{{issue.id}}" ng-repeat="issue in issues | filter:searchText">
	      <img src="{{issue.imageUrl}}">
	     <h2 class="issueType">{{issue.issueType.name}}</h2>
	     <p class="state" ng-if="issue.state == 'in_progress'">In Progress</p>
		<p class="state" ng-if="issue.state == 'created'">Created</p>
		<p class="state" ng-if="issue.state == 'acknowledged'">Acknowledged</p>
		<p class="state" ng-if="issue.state == 'assigned'">Assigned</p>
		<p class="state" ng-if="issue.state == 'solved'">Solved</p>
		<p class="state" ng-if="issue.state == 'rejected'">Rejected</p>

	      <p>{{issue.description}}</p>
	    </a>
	</div>
    <div class="item tabs tabs-secondary tabs-icon-left more" ng-click="loadMoreIssues()" on-swipe-up="loadMoreIssues()">	
		  <i class="icon ion-more"></i>
	</div>

</ion-list>
  </ion-content>

</ion-view>