<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Issue Map" icon-off="ion-ios-world-outline" icon-on="ion-ios-world-outline" href="#/tab/issueMap">
    <ion-nav-view name="tab-issueMap"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Issue List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/issueList">
    <ion-nav-view name="tab-issueList"></ion-nav-view>
  </ion-tab>
  <ion-tab title="New Issue" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus-outline" href="#/tab/newIssue">
    <ion-nav-view name="tab-newIssue"></ion-nav-view>
  </ion-tab>

</ion-tabs>